<%
  const options = {
    title: 'this is title',
    description: 'this is description',
    ogType: 'website',
    ogTitle: 'this is og:title',
    ogImage: 'this is og:image',
    ogImageAlt: 'this is og:image:alt',
    ogDescription: 'this is og:description',
    ogSiteName: 'this is og:site_name',
    ogLocale: 'this is og:locale',
    articleAuthor: 'this is aritcle:author',
    fbAppId: 'facebook app id',
    twitterCard: 'summary_large_image',
    twitterSite: 'site account',
    twitterCreator: 'account',
    twitterUrl: URL,
    twitterTitle: 'twitter title',
    twitterDescription: 'twitter description',
    twitterImage: 'twitter image',
    twitterImageAlt: 'twitter image alt'
  }
%>

<% function link(__append) { %>
  <link rel="preload" href="js/module.bundle.js" as="script">
<% } %>

<% function script(__append) { %>
  <script src="js/module.bundle.js" async defer></script>
<% } %>
<% const layoutName = '/head' %>

<%- include(`/layout${layoutName}`, { options, link }) %>

<h1><%= BASE_URL %></h1>
<h2><%= URL %></h2>
<h2><%= DOMAIN_NAME %></h2>
<h2><%= TITLE %></h2>
<h2><%= DESCRIPTION %></h2>

<%- include('/layout/foot', { script }) %>
